


<div class="container">


<div style="clear:both"></div>
<div class="column">
<h1>Lewis</h1>
<h2>Balance: $<%= number_with_precision(@lewisSpent, :precision => 2) %></h2>

	<% @lewis.each do |user| %>
	    
	   <%= render 'user_list', :user => user %>
 <% end %>
 <%= will_paginate @lewis, page_links: false, previous_label: '', next_label: '' %>
</div>



<div class="column">
  <h1>Xuemin</h1>
  <h2>Balance: $<%= number_with_precision(@xueminSpent, :precision => 2) %></h2>
	 
    <% @xuemin.each do |user| %>
      <%= render 'user_list', :user => user %>
	  <% end %>
	
	<%= will_paginate @xuemin, page_links: false, previous_label: '', next_label: '' %>
 </div>

</div> <!-- END CONTAINER -->
