<div class="container">

<%= link_to 'Add New Item', new_user_path, :class => 'button' %>
<div style="clear:both"></div>
<div class="column">
<h1>Lewis</h1>
<h2>Remaining Balance: $<%= @lewisSpent %></h2>

	<% @lewis.each do |user| %>
	    
	    <div class="item"> 
	       <%= user.title.split.map(&:capitalize).join(' ') %><br />
	       <%= user.details %><br />
	       <p>
	       <strong>Price:</strong> $<%= user.amount %><br />
	       <strong>Posted:</strong> <%= user.updated_at.localtime.strftime("%d %b, %Y %I:%M %p") %><br />
	       </p>
	       
	       <%= link_to 'Edit', edit_user_path(user) %> | 
	       <%= link_to 'Remove', user, :confirm => "Are you sure you want to delete this?", :method => :delete %> 

	    </div>
 <% end %>
</div>



<div class="column">
  <h1>Xuemin</h1>
  <h2>Remaining Balance: $<%= @xueminSpent %></h2>
	 
    <% @xuemin.each do |user| %>
	    
	  <div class="item">
	  <%= user.title %><br />
	  <%= user.details %><br />
	  $<%= user.amount %><br />
	  <%= link_to 'Edit', edit_user_path(user) %> | 
	  <%= link_to 'Remove', user, :confirm => "Are you sure you want to delete this?", :method => :delete %> 
	  </div>
	  <% end %>
 </div>

</div> <!-- END CONTAINER -->
