<p>
<div class="btn btn-primary">
  <%= link_to ' Add New Item', new_user_path, :class => 'fa fa-plus' %>
</div>
</p>

<div class="container">


<div style="clear:both"></div>
<div class="column">
<h1>Lewis</h1>
<h2>Remaining Balance: $<%= number_with_precision(@lewisSpent, :precision => 2) %></h2>

	<% @lewis.each do |user| %>
	    
	   <%= render 'user_list', :user => user %>
 <% end %>
</div>



<div class="column">
  <h1>Xuemin</h1>
  <h2>Remaining Balance: $<%= number_with_precision(@xueminSpent, :precision => 2) %></h2>
	 
    <% @xuemin.each do |user| %>
      <%= render 'user_list', :user => user %>
	  <% end %>
 </div>

</div> <!-- END CONTAINER -->
