<!DOCTYPE html>
<html>
<head>
  <title>Spending</title>
<<<<<<< HEAD
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">



</head>
<body>
<nav class="navbar">
<%= link_to '', '/', class: 'fa fa-home' %>
<%= link_to ' Add New Item', new_user_path, class: 'btn' %>
</nav>
<%= yield %>

</body>
</html>
